.title {
  color: rgb(255, 255, 255);
  font-size: 36px;
  font-weight: 400;
  line-height: 44px;
  text-align: left;
}

.page__p {
  color: rgb(123, 119, 119);
  font-size: 26px;
  font-weight: 400;
  line-height: 44px;
  text-align: left;
}

.page__box {
  display: flex;
  flex-direction: row;
  padding: 36px;
  gap: 30px;
  height: 75vh;
}

.recommendations {
  background-color: #181818;
  border-top: 1px solid rgb(214, 217, 220);
}

.recommendations__title {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
  padding-left: 36px;
  padding-top: 36px;
}

@media (max-width: 1024px) {
  .page__p {
    font-size: 18px;
    line-height: 28px;
  }
  .title {
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-weight: 400;
    line-height: 44px;
    text-align: left;
  }
}

@media (max-width: 768px) {
  .page__p {
    font-size: 12px;
    line-height: 28px;
  }
  .title {
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-weight: 400;
    line-height: 44px;
    text-align: left;
  }
}

@media (max-width: 375px) {
  .page__box {
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 20px;
    height: auto;
  }
  .page__img {
    width: 340px;
    height: auto;
  }

  .title {
    font-size: 24px;
    line-height: 32px;
    text-align: center;
  }

  .page__p {
    font-size: 18px;
    line-height: 28px;
    text-align: center;
  }

  .recommendations {
    padding-left: 10px;
    padding-right: 10px;
  }

  .recommendations__title {
    font-size: 20px;
    text-align: center;
    margin-bottom: 15px;
    padding-left: 0;
  }
}

@media (max-width: 320px) {
  .page__img {
    width: 300px;
    height: auto;
  }
  .page__p {
    font-size: 12px;
    line-height: 28px;
    text-align: center;
  }
}
