.main {
  background: white;
  padding-top: 111px;
  position: relative;
  height: 735px;
  margin-bottom: 111px;
}

.main__title {
  position: relative;
  z-index: 1;
  padding-left: 60px;
  padding-right: 60px;
}

.image__container {
  position: relative;
}

.main__img {
  position: absolute;
  top: 0px;
  left: 0;
  z-index: 2;
}

.main__desc {
  display: flex;
  flex-direction: row;
  align-items: center; /* Выравнивает элементы по вертикали по центру */
  justify-content: space-between; /* Раздвигает элементы: изображение слева, текст справа */
}

.main__right {
  padding-top: 95px;
  padding-right: 215px;
  display: flex;
  flex-direction: column;
  max-width: 800px; /* Устанавливает максимальную ширину текстового блока */
}

.right__desc {
  color: rgb(51, 51, 51);
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0%;
  text-align: left;
}

.right__button {
  color: rgb(0, 0, 0);
  background-color: white;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: right;
  box-sizing: border-box;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 57px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10;
  padding: 20px 50px 20px 50px;
  margin-top: 27px;
  width: 184px;
}

.right__button:hover {
  background: rgb(41, 105, 202);
  color: #2969ca;
  color: rgb(255, 255, 255);
}

.right__button:active {
  background: rgb(21, 69, 141);
  color: rgb(255, 255, 255);
}
.main__line {
  border-bottom: 1px solid rgb(214, 217, 220);
}
