.card {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 579px;
  cursor: pointer;
}

.card__title {
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-weight: 400;
  line-height: 160%;
  text-align: left;
}

.card__p {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0%;
  text-align: left;
}

@media (max-width: 768px) {
  .card {
    width: 100%; /* Full width for smaller screens */
    gap: 20px; /* Reduce gap between elements */
    padding: 15px; /* Add padding for spacing on mobile */
  }

  .card__title {
    font-size: 24px; /* Smaller font size for title */
    line-height: 140%; /* Adjust line height for readability */
  }

  .card__p {
    font-size: 14px; /* Smaller font size for description */
    line-height: 150%;
  }
  .card__img {
    width: 630px;
    height: auto;
    padding-right: 10px;
  }
}

/* Responsive adjustments for 375px screens */
@media (max-width: 375px) {
  .card {
    width: 100%; /* Full width for smaller screens */
    gap: 20px; /* Reduce gap between elements */
    padding: 15px; /* Add padding for spacing on mobile */
  }

  .card__title {
    font-size: 24px; /* Smaller font size for title */
    line-height: 140%; /* Adjust line height for readability */
  }

  .card__p {
    font-size: 14px; /* Smaller font size for description */
    line-height: 150%;
  }
  .card__img {
    width: 345px;
    height: auto;
    padding-right: 10px;
  }
}

@media (max-width: 375px) {
  .card__img {
    width: 290px;
    height: auto;
    padding-right: 10px;
  }
}
